*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

h1{
    margin: 40px 0;
    text-align: center;
    font-size: 40px;
}

.galeria{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

img{
    width: 30%;
    margin-bottom: 30px;
    height: 200px;
    object-fit: cover;
    border-radius: 3px ;
    box-shadow: 0 0 3px rgba(0, 0, 0, .6);
}

@media screen and (max-width: 800px){
    img{
        width: 45%;
    }
}

@media screen and (max-width: 600px){
    img{
        width: 95%;
    }
}