*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid{
    width: 90%;
    /* max-width: 600px; */
    height: 600px;
    margin: 30px auto;
    outline: 3px solid #000;
    display: grid;
    /* grid-template-columns: [cabecera-start principal-start] 1fr 1fr 1fr 1fr [cabecera-end principal-end]; */
    /* grid-template-rows: [cabecera-start] 1fr [cabecera-end principal-start]  1fr [principal-end] 1fr; */
    /* grid-template-columns: repeat(4, [column-start] 1fr [column-end]); */
    /* grid-template-rows: repeat(3, [fila-start] 1fr [fila-end]); */
    /* grid-template-areas: 
    "header header header header"
    "main   main   main   sidebar"
    "footer footer footer footer"; */
    /* grid-template-columns: min-content max-content; */
    /* grid-template-columns: fit-content(400px); */
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    /* grid-template-columns: repeat(auto-fit, minmax(max-content, 300px)); */
    grid-template-columns: repeat(1,150px);
    grid-template-rows: repeat(3,150px);
    
    /* justify-items: start|end|center|stretch; */
    /* align-items: start|end|stretch|center; */
    /* place-items: align-items justify-items; */
    /* place-items: center ; */

    /* justify-content: start|end|space-between|center|stretch|space-evenly|space-around; */
    /* align-content: start|end|space-between|center|stretch|space-evenly|space-around; */

    /* place-content: align-content justify-content; */

    /* grid:rows/columns; */
    grid-template-columns: repeat(4,1fr);
}



.grid__item{
    padding: 20px 0;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    order: 0;
}

.grid :nth-child(1){
    background: slateblue;
    /* grid-column: column-start 2 /column-start 4; */
    /* grid-row: fila-start 2/fila-end 3; */
    /* grid-column: header-start/header-end; */
    /* grid-row: header-start/header-end; */
    align-self: stretch;
    justify-self: stretch;
    /* place-self: align justify; */
    /* place-self: start end; */
    place-self: center;
}

.grid :nth-child(2){
    background: crimson;
    /* grid-column: main-start/main-end; */
    /* grid-row: main-start/main-end; */
 
}

.grid :nth-child(3){
    background: coral;
    /* grid-column: sidebar-start/sidebar-end; */
    /* grid-row: sidebar-start/sidebar-end; */
}

.grid :nth-child(4){
    background: indigo;
    /* grid-column: footer-start/footer-end; */
    /* grid-row: footer-start/footer-end; */
}