*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: 'Arial';
}

/* ul,ol{
    padding: 0;
} */

ul{
    margin:30px 0 ;
    list-style-type:none;
    list-style-image: url(img/icono.png);
    list-style-position: inside;
}

ol{
    list-style-type: disc;
    list-style-position: inside;
}

.lista{
    font-size: 24px;
    background-color:darksalmon ;
    /* list-style: type image position; */
}

figure{
    width: 200px;
    height: 400px;
    background: crimson;
    margin: 30px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.img{
    width: inherit;
    height: inherit;
    object-fit:cover ;
}
