*,
::before,
::after {
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-primario: #B9FF66;
    --color-secundario: #191A23;
    --gray-color: #F3F3F3;

    --padding-container: 80px 0;
}

body,
input,
textarea,
button {
    font-family: "Space Grotesk", sans-serif;
}

.container {
    width: min(90%, 1200px);
    margin: 0 auto;
    overflow: hidden;
}

/** Hero **/

.hero {
    --nav-icon-background: url("./assets/menu-open.svg");
    --transform-list-menu: translate(-100%);
}

.hero:has(.nav__checkbox:checked) {
    --nav-icon-background: url("./assets/menu-close.svg");
    --transform-list-menu: translate(0);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.nav__label,
.nav__logo-link {
    z-index: 100;
}

.nav__label {
    width: 36px;
    height: 36px;
    background-image: var(--nav-icon-background);
    background-size: cover;
    cursor: pointer;

    transition: .4s background-image;
}

.nav__checkbox {
    display: none;
}

.nav__list {
    position: absolute;
    inset: 0;
    padding: 0;
    display: grid;
    place-content: center;
    gap: 1rem;
    text-align: center;
    list-style: none;
    background-color: #fff;
    transform: var(--transform-list-menu);
    transition: transform .5s;
}



.nav__link {
    display: inline-block;
    padding: .8rem .5rem;
    color: #000;
    text-decoration: none;
}

.nav__link--cta {
    border: 1px black solid;
    border-radius: 10px;
    padding-inline: 1.8rem;
}

.hero__main {
    padding: 30px 0;
    display: grid;
    gap: 1rem;
}

.hero__title {
    font-size: clamp(2rem, 5vw + 1rem, 2.8rem);
}

.hero__figure {
    width: min(380px, 100%);
    justify-self: center;
}

.hero__img {
    width: 100%;
}

.hero__paragraph {
    font-size: 1.2rem;
    line-height: 2;
}

.hero__cta {
    background-color: #000;
    color: white;
    text-decoration: none;
    padding: 1rem 0;
    border-radius: 10px;
    text-align: center;
}

/** Services **/

.services {
    padding: var(--padding-container);
}

.title {
    font-size: 2rem;
    font-weight: 500;
}

.title__hight {
    background-color: var(--color-primario);
    display: inline-block;
    padding: 6px;
    border-radius: 6px;
}

.paragraph {
    margin-top: 1.5rem;
}

.services__container {
    margin-top: 3rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}

.services__title {
    margin-bottom: 1.3rem;
}

.services__article {
    width: min(95%, 450px);
    margin: 0 auto;
    padding: 2rem 1.5rem;

    border-radius: 1.5rem;
    border: 1px solid #000;
    border-bottom: 3px solid #000;
}

.services__title {
    font-size: 1.3rem;
    font-weight: 500;
}

.services__span {
    background-color: var(--color-title);
    width: max-content;
    display: block;
    padding: 2px 6px;
    border-radius: 6px;
}

.services__title--gray {
    background-color: var(--gray-color);
    --color-title: var(--color-primario);
}

.services__title--yellow {
    background-color: var(--color-primario);
    --color-title: white;
}

.services__title--black {
    background-color: var(--color-secundario);
    --color-title: white;
}

.services__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.services__link {
    display: block;
    width: 30px;
    height: 30px;
}

.services__arrow {
    stroke: var(--color--arrow);
}

.services__img {
    min-width: 80px;
    max-width: 160px;
    width: 50%;
}

/** CTA **/

.cta {
    background-color: #F3F3F3;
    border-radius: 10px;
    padding: 3rem 1rem;
}

.cta__content {
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
}

.cta__texts {
    display: grid;
    gap: 1rem;
}

.cta__links {
    padding: 1.3rem 0;
    border-radius: 10px;
    background-color: #191A23;
    color: white;
    text-decoration: none;
    text-align: center;
}

.cta__figure {
    display: none;
}

.cta__img {
    width: 100%;
}

/** FAQ **/

.faq {
    padding: 80px 0;
}

.faqs__container {
    margin-top: 3rem;
    display: grid;
    gap: 2rem;
}

.faq__item {
    background-color: var(--gray-color);
    padding: 1.5rem;
    border-radius: 30px;
    border: 1px solid black;
    border-bottom: 4px solid black;

    --icon-question: url("./assets/close-question.svg");
}

.faq__item[open] {
    background-color: var(--color-primario);
    --icon-question: url("./assets/open-question.svg");
}


.faq__question {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.faq__question::after {
    content: "";
    margin-left: auto;
    width: 30px;
    height: 30px;
    background-image: var(--icon-question);
}

.faq__title {
    font-size: 1.2rem;
    width: 60%;
}

.faq__answer {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #000;
}

.faq__answer * {
    line-height: 2;
}

/** Contact **/

.contact {
    padding: 80px 0;
}

.contact__content {
    margin-top: 3rem;

    background-color: var(--gray-color);
    border-radius: 10px;
    padding: 2rem 1.5rem;

    display: grid;
    gap: 2rem;
}

.contact__figure {
    display: none;
}

.contact__img {
    width: 100%;
}

.contact__form {
    display: grid;
    gap: 1.5rem;
}

.contact__label {
    display: grid;
    gap: .3rem;
}

.contact__input,
.contact__area {
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border: 1px solid #000;
}

.contact__area {
    width: 100%;
    height: 120px;
    resize: none;
}

.contact__submit {
    background-color: #000;
    color: white;
    padding: 1rem;
    border-radius: 10px;
}


/** Foooter **/

.footer {
    background-color: var(--color-secundario);
}

.footer__content {
    padding: 80px 0;
    width: min(90%, 1200px);
    margin: 0 auto;
    overflow: hidden;
}

.footer__main {
    display: grid;
    gap: 1.5rem;
    justify-items: center;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.footer__link {
    color: white;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__copy {
    justify-self: center;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-weight: 500;
    padding: 4px;
    border-radius: 6px;
}

.footer__contact {
    max-width: 250px;
    display: grid;
    gap: 1.3rem;
    color: white;
    text-align: center;
}

.footer__newsletter {
    width: min(100%, 400px);
    padding: 2rem 1.5rem;
    background-color: #292A32;
    border-radius: 10px;
    display: grid;
    gap: 1rem;
    grid-template-rows: 48px 48px;
}

.footer__email {
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 0 1.5rem;
    background-color: transparent;
    color: white;
}

.footer__email::placeholder {
    color: white;
}

.footer__submit {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    border: none;
    border-radius: 6px;
}

.footer__social {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}

.footer__social-links {
    width: 36px;
    height: 36px;
    background-color: #fff;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__copyright {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 2px solid #fff;
}

.footer__copyright-text {
    text-align: center;
    color: white;
}



@media (width >=768px) {

    /** Hero **/

    .hero__main {
        padding: var(--padding-container);
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
        grid-template-areas:
            "titulo img"
            "parrafo img"
            "link img";
        grid-template-rows: max-content max-content max-content;
        grid-auto-columns: 50% 45%;
    }

    .hero__title {
        grid-area: titulo;
    }

    .hero__paragraph {
        grid-area: parrafo;
    }

    .hero__cta {
        grid-area: link;
        padding: 1rem 2rem;
        justify-self: start;
        align-self: start;
    }

    .hero__figure {
        grid-area: img;
    }

    .title {
        font-size: 2.5rem;
    }


    /** CTA SECTION **/

    .cta__content {
        justify-content: space-between;
        align-items: center;
        grid-template-columns: 45% 45%;
    }

    .cta__links {
        padding: 1.3rem 2rem;
        justify-self: start;
        align-self: start;
    }

    .cta__figure {
        display: block;
    }

    /** FAQ SECTION **/


    .faq__title {
        font-size: 1.4rem;
    }

    /** Contact **/

    .contact {
        padding: 80px 0;
    }

    .contact__content {
        grid-template-columns: 50% 40%;
        justify-content: space-between;
        align-items: center;
    }

    .contact__figure {
        display: block;

    }


}

@media (width >= 900px) {

    /** Hero **/

    .hero {
        --transform-list-menu: translate(0%);
    }

    .nav__label {
        display: none;
        cursor: pointer;
    }

    .nav__list {
        position: static;

        grid-auto-flow: column;
        place-content: unset;
        gap: 1rem;
    }

    /** Foooter **/

    .footer {
        background-color: #fff;
    }

    .footer__content {
        border-radius: 30px 30px 0 0;
        background-color: #191A23;

    }

    .footer__main {
        width: 90%;
        margin: 0 auto;
        grid-template-columns: 1fr 55% 1fr;
        grid-template-areas:
            "logo links media"
            "contact news news";
        justify-items: start;
    }

    .footer__links {
        grid-area: links;
        
        width: 100%;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer__copy {
        justify-self: start;
    }

    .footer__contact {
        grid-area: contact;

        text-align: left;
    }

    .footer__newsletter {
        grid-area: news;
        align-self: start;
        justify-self: end;
    }

    .footer__email {
        border: 1px solid #fff;
        border-radius: 6px;
        padding: 0 1.5rem;
        background-color: transparent;
        color: white;
    }

    .footer__email::placeholder {
        color: white;
    }

    .footer__submit {
        background-color: #B9FF66;
        color: black;
        border: none;
        border-radius: 6px;
    }

    .footer__social {
        grid-area: media;
        justify-self: end;
    }

    
    .footer__copyright {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }


}