@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: 'Raleway', sans-serif;
}

.card{
    background-image: 
    linear-gradient( #2a265fb6, #2a265fb4), 
    url(background.jpg);

    background-size: cover;
    background-position: center;
    width: 400px;
    color: #fff;
    margin: 40px auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .5);
}


.title{
    font-size: 30px;
    border-bottom: 3px solid #fff;
    padding: 7px;
    margin-bottom: 30px;
}

.text{
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 2;
    text-transform: capitalize;
}

.bold{
    font-weight: bold;
}

.cta{
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 15px 25px;
    border-radius: 3px;
}

















.container{
    background: #fff;
    width: 90%;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
    text-align: center;
}

.h1{
    text-align: inherit;
    font-weight: 600 ;
    font-style: italic;
}

.copy{
    padding: 10px 0;
    font-weight: 300;
    /* font-style: oblique; */
    /* letter-spacing:-1px ; */
    /* word-spacing:-8px; */
    /* text-shadow: 3px 3px 6px rgba(0, 0, 0, .5); */
    /* text-transform: capitalize; */
    /* font: ; */
    /* font-variant: small-caps; */
}

/* .bold{
    color: crimson;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
} */

.img{
    width: 250px;
}

.enlace{
    display: inline-block;
    color: crimson;
    /* text-decoration: line style color; */
    /* text-decoration-line: underline;
    text-decoration-style:wavy ;
    text-decoration-color: crimson; */
    text-decoration: none;
    border: 1px solid;
    padding: 10px 25px;
}

