@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: #f2f2f2;
    font-family: 'Poppins', sans-serif;
}

.gallery{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: 60px 0;
}

.gallery__title{
    font-size: 2rem;
    margin-bottom: 1em;
}


.gallery__container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery__picture{
    min-width: 200px;
    /* flex-basis: 350px;
    flex-grow: 1; */
    flex: 350px;
}

.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}