*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: salmon;
    font-family: 'Arial';
}

.card{
    width: 300px;
    margin: 40px auto;
    background: #fff;
    padding: 20px;
    box-shadow: -20px -20px 0px 0px #fb968b;
    border-radius: 10px;
}

.card__title{
    /* border-bottom: 3px solid salmon; */
    padding-bottom: 7px;
    margin-bottom: 10px;
    text-align: center;
}

*::selection{
    background: steelblue;
    color: #fff;
}

/* p::first-line{
    color: crimson;
    font-weight: bold;
    font-size: 2rem;
} */
/* 
.card__title::first-letter{
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 20px;
} */

input[type="text"]{
    margin-left: 20px;
    padding: 15px 3px;
    background: crimson;
    color: #fff;
    border: none;
    border-bottom: 4px solid #fff;
    outline: none;
}

input[type="text"]::placeholder{
    color: #fff;
}

/* 
<element>
    ::before <- antes
    Contenido
    ::after
</element>
*/


/* .card__text::before{
    content: "Hola ";
}

.card__text::after{
    content: " Alexander";
} */

.card__title::before,
.card__title::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    padding: 2px;
    background:salmon;
}



ul{
    counter-reset: contador;
}

li{
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}

li::before{
    content:  counter(contador);
    counter-increment: contador;
    background: salmon;
    width: 30px;
    height: 30px;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin-right: 4px;
}


