*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial';
    height: 300vh;
}

.container{
    width: 450px;
    height: 530px;
    margin: 20px auto;
    border: 5px solid crimson;
    position: relative;
}

.box{
    background: steelblue;
    width: 100px;
    height: 100px;
    margin-top:20px;
    margin-left: 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    line-height: 100px;
}

.static{
    position: static;

}

.relative{
    background: crimson;
    position: relative;
    /* z-index: 10; */
    /* bottom: 40px; */
    /* left: 10px; */
    /* top: ;
    left: ;
    right: ;
    bottom: ; */
}


.absolute{
    background: purple;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    /* top:30%; */
    /* left: 40px; */
    /* z-index: 10; */
}


.fixed{
    background: darkcyan;
    position: fixed;
    width: 100%;
    height: auto;
    padding: 1em 0;
    bottom: 0;
    right: 0;
    margin: 0;
}

.fixed a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.fixed a:hover{
    text-decoration: underline;
}