*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    max-width: 600px;
    height: 600px;
    outline: 2px solid #000;
    margin: 30px auto;
    
    display: flex;
    align-items: flex-start;

}

.item{
    --height: 90px;
    background:tomato ;
    width: 90px;
    height: var(--height);
    line-height: var(--height);
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: sans-serif;
    
}

.item1{
background-color: blue;
flex-grow: 1;
}

.item2{
    background: darkslateblue;
}

.item3{
    background: crimson;
}

.item4{
    background: steelblue;
}
